<!---------------------------------- begin header-layout --------------------------->
<header class="header-layout">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top p-0">
    <div class="header-site">

      <div class="mobile-header">
        <button class="navbar-toggler" #buttonClose type="button" role="button" data-bs-toggle="collapse"   data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"               aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="logo-mobile">
          <img src="../../assets/images/M.png" class="logo-m">
          <div class="logo-details">
            <p class="logo-fullname">Mahsa shoaran</p>
            <p class="logo-detail-position">Mahsa Shoaran, Assistnat Professor</p>
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse container header-nav" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto nav-left">
          <li class="nav-item item-logo">
            <img src="../../assets/images/M.png" class="logo-m">
            <div class="logo-details">
              <p class="logo-fullname">Mahsa shoaran</p>
              <p class="logo-detail-position">Mahsa Shoaran, Assistnat Professor</p>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto nav-right">
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/news']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/research']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/openings']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Openings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!---------------------------------- end header-layout ----------------------------->
