<!---------------------------------- begin header-layout --------------------------->
<header class="header-layout">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-0">
    <div class="header-site">

      <div class="mobile-header">
        <button class="navbar-toggler" #buttonClose type="button" role="button" data-bs-toggle="collapse"   data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"               aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="logo-mobile">
          <img src="../../assets/images/M.png" class="logo-m">
          <div class="logo-details">
            <p class="logo-fullname">Mahsa shoaran</p>
            <p class="logo-detail-position">Mahsa Shoaran, Assistnat Professor</p>
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse container header-nav" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto nav-left">
          <li class="nav-item item-logo">
            <img src="../../assets/images/M.png" class="logo-m">
            <div class="logo-details">
              <p class="logo-fullname">Mahsa shoaran</p>
              <p class="logo-detail-position">Mahsa Shoaran, Assistnat Professor</p>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto nav-right">
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/news']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onCloseNavbar()"  [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Openings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!---------------------------------- end header-layout ----------------------------->




<router-outlet></router-outlet>



<!--------------------------------- begin footer-layout ------------------------------->
<footer class="footer-layout">
  <div class="container footer-detail">
    <div class="pic-footer">
      <div class="pic">
        <div class="summary-desktop">
          <span>Summary</span>
        </div>
        <div class="pic-summary">
          <img class="img-pro" src="../../assets/images/gray-face.png" alt="Mahsa shoaran" title="Mahsa shoaran">
        </div>
        <div class="summary-mobile">
          <span>Summary</span>
        </div>
      </div>
      <div class="summary-footer">
        <p class="detail-prof">Postdoc and PhD positions are available at Prof. Shoaran’s lab at EPFL. Qualified candidates are encouraged to send their CV to mahsa.shoaran@epfl.ch</p>
        <div class="more-info">
          <p class="address-website">website:<a href="" class="value">https://shoaran.com/</a></p>
          <p class="about-job"><span class="job-title">Job Title:<span class="value">Assistant Professor</span></span></p>
          <p class="about-company"><span class="company">Company:<span class="value">EPFL</span></span></p>
        </div>
      </div>
    </div>

  </div>
  <div class="footer">
    <p class="owner">Copyright © 2021 | All Rights Reserved</p>
  </div>
</footer>
<!-------------------------------- end footer-layout ------------------------------>
