<section class="container scientific-position">
<!------------------------ begin header title ------------------------->
  <div class="row">
    <div class="col-12">
      <div class="people">
        <h3 class="set-title">
          people
          <svg height="8px" width="100%">
            <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#EEEEEE;stroke-width:8" />
            Sorry, your browser does not support inline SVG.
          </svg>
        </h3>
      </div>
    </div>
  </div>
<!------------------------ end header title ------------------------>
<!------------------------ begin person profile ------------------------>
  <div class="row">
    <div class="col-12 each-person">
      <div class="person-profile">
        <img class="pic-persons" src="../../assets/images/color-face.png" alt="mahsa shoaran">
        <div class="pic-info-person">
          Assistant Professor
        </div>
      </div>
      <div class="info-person">
        <h3 class="name-persone">Mahsa Shoaran</h3>
        <p class="job-person">Assistant Professor</p>
        <p class="details">Assistant Professor</p>
        <p class="details">Department: Electrical And Computer Engineering</p>
        <p class="details">Email: Shoaran At Cornell Dot Edu</p>
      </div>
    </div>
  </div>
<!------------------------ end person profile ------------------------>
<!------------------------ begin svg line ------------------------>
  <div class="row">
    <div class="col-12 svg-line">
      <svg height="8px" width="100%">
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#EEEEEE;stroke-width:8" />
        Sorry, your browser does not support inline SVG.
      </svg>
    </div>
  </div>
<!------------------------ end svg line ------------------------>
<!------------------------ begin list of profile ------------------------>
  <div class="row ">
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic1.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic2.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic3.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic4.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic5.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic6.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic7.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-each-person">
      <div class="person-profile">
        <img class="pic-person" src="../../assets/images/pic8.png" alt="mahsa shoaran">
        <div class="pic-info">
          Assistant Professor
        </div>
      </div>
      <div class="title-pic">
        <h3 class="title-name">Mahsa Shoaran</h3>
        <p class="title-position">Assistant Professor</p>
      </div>
    </div>
  </div>
<!------------------------ begin list of profile ------------------------>
</section>
