/* You can add global styles to this file, and also import other style files */
@import url('./assets/css/site.scss');
@font-face {
  font-family: AbrilFatface;
  src: url("./assets/font/AbrilFatface-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Montserrat-Thin;
  src: url("./assets/font/Montserrat-Thin.ttf") format("ttf");
}

*{
  font-family: Montserrat-Thin
}
/*-------------------- begin global variable ---------*/
$color-white: #fff;
$color-black:#292D32;
$color-link: #fff5b5;
$color-link-card: #00C1CC;

$bgcolor-black: #182231;
$bgColor-header-black: #192332;
$bgColor-footer: #f9f9f9;
/*-------------------- end global variable ---------*/


/* =========================== Begin Custom Scroll Bar ===================== */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f8f9fa;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  // background:@main-gradient;
  background: linear-gradient(90deg, rgba(44,57,76,1) 0%, rgba(24,33,48,1) 0%, rgba(44,57,76,1) 100%);
  border-radius: 10px !important;
}
.thumb-background {
  background: linear-gradient(90deg, rgba(44,57,76,1) 0%, rgba(24,33,48,1) 0%, rgba(44,57,76,1) 100%);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: @main-gradient;
  // background: linear-gradient(180deg, rgba(255,222,122,1) -26%, rgba(255,64,125,1) 100%);
  height: 10px;
}

/* =========================== End Custom Scroll Bar ===================== */

/*-------------------- begin global styles ----------------*/
.navbar-dark{
  .navbar-toggler{
    color: none !important;
    border-color: none !important;
    &:focus{
      box-shadow: none !important;
    }
  }
}
/*-------------------- end global styles ----------------*/

/* ------------------------------- begin header-site --------------------------*/
.header-site {
  background: $bgColor-header-black;
  /*------ begin media --------*/
  @media (max-width:768px){
    .mobile-header{
      display: flex;
      align-items: center;
      padding: 15px 0px;
    }
  }
  /*------ end media --------*/
}
.bg-img{
  width: 100%;
  /*------ begin media --------*/
  @media (max-width: 768px){
    height: 500px;
  }
  /*------ end media --------*/
}

.header-layout{
  .navbar{
    display: block;
  }
  .header-nav{
    justify-content: space-between;
    padding: 0;
  }
  .nav-left{
    padding: 0px;
    .item-logo{
      display: flex;
      align-items: center;
      .logo-m{
        background: linear-gradient(180deg, #FFF5B5 0%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 37px;
        width: 42px;
        margin-bottom: 0;
      }
      .logo-details{
        margin-left: 8px;
        .logo-fullname{
          margin-bottom: 0;
          color: $color-white;
          // font-family: Montserrat-Regular;
          font-size: 24px;
          font-weight: bold;
          line-height: normal;
        }
        .logo-detail-position{
          margin-bottom: 0;
          color: $color-white;
        }

      }
      /*------ begin media ------*/
      @media (max-width: 768px){
        display: none;
      }
      /*------ end media -------*/
    }
  }
  .nav-right{
    .nav-item{
      .nav-link{
        color: $color-white;
        cursor: pointer;
        padding: 0px 8px;
      }
    }
    /*------ begin media ------*/
    @media (max-width:768px){
      padding: 0;
      .nav-item{
        padding: 10px;
      }
    }
    /*------ begin media ------*/
  }
  .logo-mobile{
    /*------ begin media --------*/
    @media (max-width:768px){
      white-space: nowrap;
      color: $color-white;
      display: inline-flex;
      .logo-details{
        margin-left: 4px;
        line-height: 17px;
        .logo-fullname{
          font-weight: bold;
          margin: 0px;
        }
        .logo-detail-position{
          font-size: 11px;
          margin: 0px;
        }
      }
    }
    /*------ end media --------*/
    /*------ begin media --------*/
    @media (min-width: 768px) and (max-width: 2481px){
      display: none;
    }
    /*------ end media --------*/
  }
}

/* ------------------------------- end header-site -------------------------- */

/*-------------------------------- begin footer site ---------------------------*/
.footer-layout{
  background: $bgColor-footer;
  margin-top: 86px;
  .footer-detail{
    // padding: 50px 0px;
    height: 200px;
    .pic-footer{
      display: flex;
      align-items: center;
      /*------ begin media --------*/
      @media (max-width: 768px){
        display: block;
      }
      /*------ end media --------*/
      .pic{
        display: contents;
        .summary-desktop{
          font-weight: bold;
          transform: rotate(270deg);
          display: inline-block;
          font-size: 24px;
          /*------ begin media --------*/
          @media (max-width: 768px){
            display: none;
            // margin-top: 90px;
            // display: block;
            // transform: none;
            // text-align: center;
          }
          /*------ end media --------*/
        }
        .summary-mobile{
          display: none;
          /*------ begin media --------*/
          @media (max-width:768px){
            display: block;
            text-align: center;
            font-size: 24px;
            font-weight: 900;
          }
          /*------ end media --------*/
        }
        .pic-summary{
          margin-top: -37px;
          .img-pro{
            // position: absolute;
            // left: 120px;
            width: 168px;
            height: 264px;
          }
          /*------ begin media --------*/
          @media (max-width:768px){
            text-align: center;
            margin-top: 0;
            .img-pro{
              margin-top: -65px;
            }
          }
          /*------ end media --------*/
        }
      }
      .summary-footer{
        margin-left: 24px;
        /*------ begin media --------*/
        @media (max-width: 768px){
          margin: 0px;
          text-align: left;
          padding: 0 25px;
        }
        /*------ end media --------*/
        .detail-prof{
          width: 70%;
          text-transform: capitalize;
          /*------ begin media --------*/
          @media (max-width: 768px){
            width: 100%;
          }
          /*------ end media --------*/
        }
        .more-info{
          text-transform: capitalize;
          display: flex;
          .value{
            font-weight: 700;
            color: $color-black;
            text-decoration: none;
          }
          .job-title{
            margin: 0px 15px;
          }
          .address-website , .about-company , .about-job{
            margin-bottom: 0;
          }
          @media (max-width:768px){
            margin-bottom: 10px;
            display: block;
            .job-title{
              margin: 0;
            }
            .address-website , .about-company , .about-job{
              line-height: 30px;
            }
          }
        }
      }
    }
    /*------ begin media --------*/
    @media (max-width:768px){
      padding: 0px;
      margin-top: 100px;
      height: auto;
    }
    /*------ end media --------*/
  }
  .footer{
    background-color: $bgcolor-black;
    padding: 25px 0px;
    .owner{
      text-align: center;
      color: $color-white;
      margin: 0;
    }
  }
}
/*-------------------------------- end footer site ---------------------------*/

/*-------------------------------- begin home-page component ---------------------------*/
.background-image{
  background-image: url('assets/images/bg-guys.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width:768px){
    background-size: 175% 100%;
    background-position-x: center;
  }
}
.research{
  .research-mashine-learning{
    @media (max-width: 768px){
      order: 1;
    }
  }
  .title{
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 50px;
    @media (max-width:768px){
      font-size: 40px;
    }
  }
  .info-machine-learning{
    // text-align: justify;
    margin-right: 24px;
    line-height: 30px;
    @media (max-width:768px){
      margin-right: 0%;
      margin-top: 24px;
    }
  }
  .img-machine-learning{
    width: 100%;
  }
  .row-content{
    margin-top: 366px;
    margin-left: 118px;
    @media (max-width:768px){
      margin-top: 100px;
      margin-left: 0px;
    }
  }
  .content-prof{
    display: flex;
    @media(max-width: 768px){
      display: block;
    }
  }
  .img-profile{
    border: 2px solid #fff;
    width: 200px;
    height: 303px;
    position: relative;
    // top: 63%;
    // left: 11%;
    .main-img{
      position: relative;
      bottom: 5%;
      left: 6%;
    }
    /*---- begin media ----*/
    @media (max-width: 768px){
      border: 2px solid #fff;
      width: 100px;
      height: 158px;
      .main-img {
        width: 100px;
        height: 158px;
      }
    }

    /*---- end media ----*/
  }
  .profile-detail{
    // position: absolute;
    // top: 63%;
    // left: 31%;
    margin-left: 25px;
    color: $color-white;
    p{
      margin-bottom: 0px;
    }
    a{
      color: $color-link;
    }
    .name-professor{
      font-family: AbrilFatface;
      font-size: 60px;
      font-weight: 900;
    }
    /*---- begin media ----*/
    @media (max-width: 768px){
      margin-left: 0;
      color: #fff;
      font-size: 10px;
      .name-professor{
        font-size: 40px;
        margin: 10px 0 0 0;
      }
      p{
        font-size: 12px;
      }
    }
    /*---- end media ----*/
  }
  .down-page{
    display: flex;
    justify-content: center;
  }
  .scroll-form{
    // text-align: center;
    // margin-top: -75px;
    margin: 60px 0 34px 0px;
    padding: 0 0 0 36px;
    color: $color-white;
    .scroll-down{
      // display: flex;
      // justify-content: center;
      // transform: rotate(90deg);
      // position: absolute;
      // top: 127%;
      // left: 49%;
      // padding: 0px;
      // display: flex;
      // margin-top: 66px;
      // margin-right: 68px;
      .input-scroll{
        justify-content: center;
        text-align: center;
        display: flex;
        .form-check-input{
          cursor: pointer;
          margin: 0;
          transform: rotate(90deg);
        }
      }
    }
    .label-scroll{
      // position: absolute;
      // top: 133%;
      // left: 48%;
      color: $color-white;
      /*------ begin media --------*/
      // @media (max-width:768px){
      //   margin: 10px 0 0 0;
      // }
      /*------ begin media --------*/
    }
  }

}
/*-------------------------------- end home-page component --------------------------*/

/*-------------------------------- begin news component -----------------------------*/
.people{
  margin-top: 85px;
  .set-title{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: AbrilFatface;
    font-weight: bolder;
    svg{
      padding-left: 24px;
    }
  }
}
.each-person{
  display: flex;
  margin-top: 32px;
  .info-person{
    margin-left: 24px;
    .job-person{
      background-color: #292D32;
      color: $color-white;
      padding: 4px 16px;
      margin: 0;
      display: inline-block;
      line-height: 25px;
    }
    .details{
      margin: 0;
      line-height: 25px;
    }
  }
  @media (max-width: 768px){
    display: block;
    .info-person{
      margin-left: 0;
    }
  }
}
.col-each-person{
  text-align: center;
}
.person-profile{
  position:relative;
  .pic-person{
    width: 100%;
    height: 377px;
  }
  .pic-info{
    position: absolute;
    top: 89%;
    width: 100%;
    height: 41px;
    text-align: center;
    color: $color-white;
    font-size: 25px;
    background-color: rgba(41, 45, 50, 0.7);
  }
  .pic-info-person{
    position: absolute;
    top: 86%;
    width: 200px;
    height: 42px;
    text-align: center;
    color: $color-white;
    font-size: 25px;
    background-color: rgba(41, 45, 50, 0.7);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px){
    .pic-person{
      width: 100%;
      height: 187px;
    }
    .pic-info{
      width: 100%;
      top: 78%;
      left: 0px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pic-persons{
      width: 100%;
      height: 370px;
    }
    .pic-info-person{
      width: 100%;
      top: 89%;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.title-pic{
  text-align: center;
  .title-name{
    font-weight: bold;
  }
  @media (max-width: 768px){
    .title-name{
      font-size: 16px;
    }
    .title-position{
      font-size: 10px;
    }
  }
}
.svg-line{
  margin: 35px 0px;
}
/*-------------------------------- end news component ------------------------------*/

/*-------------------------------- begin research component ------------------------*/
.card-research{
  display: flex;
  flex-direction: row;
  padding: 24px;
  .card-img-top{
    width: 234px;
    height: 181px;
  }
  .body-research{
    margin-left: 24px;
    padding: 0px;
    .card-title{
      text-transform: capitalize;
    }
    .card-date{
      text-transform: capitalize;
      font-size: 12px;
      margin-bottom: 8px;
    }
    .card-link{
      text-transform: uppercase;
      color: $color-link-card;
    }
  }
  @media (max-width: 768px){
    flex-direction: column;
    .card-img-top{
      width: 100%;
    }
    .body-research{
      margin-left: 0;
      margin-top: 15px;
    }
  }
}
.pagination{
  padding: 0;
  .page-item{
    &:first-child{
      .page-link{
        border-radius: 0px;
      }
    }
    &:last-child{
      .page-link{
        border-radius: 0px;
      }
    }
    .page-link{
      &:focus{
        box-shadow: none;
      }
    }
  }
}
/*-------------------------------- end research component -------------------------*/

/*-------------------------------- begin openings component -----------------------*/
.card-opening{
  margin-top: 85px;
  text-align: center;
  border: none;
  .card-header{
    background-color: $color-white;
    border: none;
    .header-title{
      font-weight: bold;
    }
  }
  .card-body{
    .img-body{
      .img-content{
        width: 100%;
      }
    }
    .text-content{
      margin-top: 32px;
    }
    .card-text{
      text-align: justify;
    }
  }
}
/*-------------------------------- end openings component ------------------------*/
