<div class="container-fluid research background-image">
  <div class="row">
    <div class="col-12">
<!---------------------------- begin about shoaran ------------------------->
      <div class="row row-content">
        <div class="col-12 content-prof">
          <div class="img-profile">
            <img class="main-img" src="../../assets/images/color-face.png" alt="">
          </div>
          <div class="profile-detail">
            <h3 class="name-professor">Mahsa Shoaran</h3>
            <p><span>Assistant Professor</span></p>
            <p>Department Electrical And Computer Engineering</p>
            <p>
              Email:
              <span>Shoaran At cornell Dot Edu</span>
            </p>
            <span>Note To Application For positions In The Shoaran Lab:</span>
            <p>we are excited to Announce that we are moving</p>
            <p>to <b>EPFL</b>(<a href="#">Electrical Engineering</a>Institue And <a href="#">Center For Neuroprosthetics</a>).we are happy to have spent our formative years at cornell. please visit our lab <a href="#">website</a>for more information.</p>
          </div>
        </div>
      </div>
<!---------------------------- end about shoaran ------------------------->
<!---------------------------- begin btn scroll ------------------------->
      <div class="row">
        <div class="col-12">
          <div class="col-12 down-page">
            <form action="" class="scroll-form">
              <div class="form-check form-switch scroll-down">

                <div class="row mb-2">
                  <div class="col-12 input-scroll">
                    <input (click)="scrollBottom()" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <p>scroll down</p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
<!---------------------------- begin btn scroll ------------------------->
    </div>
  </div>
</div>
<!----------------------------- begin content research --------------------------->
<div class="container research">
  <h3 class="title">Research</h3>
  <div class="row">
    <div class="col-12 col-md-6 research-mashine-learning">
      <div class="info-machine-learning">
        Our research lies at the intersection of circuit design, machine learning, and neuroscience, and our mission is to develop new diagnostic and therapeutic devices for medication-resistant neurological disorders including epilepsy, alzheimer’s, chronic migraine, and parkinson’s. In particular, we use advanced circuit design techniques to build ultra-low-power and miniaturized system-on-chips that can record neural activity, detect brain dysfunction in real time, and respond by therapeutic intervention such as neuromoluation. We use machine learning techniques to enable accurate and reliable detection of disease-related biomarkers.
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img class="img-machine-learning" src="../../assets/images/image-machine-learning.png" alt="machine learning">
    </div>
  </div>
</div>
<!----------------------------- begin content research --------------------------->
